<div class="row">
  <div class="column">
    <p><%= link "← go back", to: "/" %></p>
    <h2>Factor Results</h2>

    <div>
      factors of <%= @x %>
      <p>
      <%= for factor <- @y do %>
      <%= factor %>  
      <% end %>
      </p>
    </div>
  </div>
</div>
